*{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.comic-sans{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.animation-area{
	background: linear-gradient(to left, #00e0da, #00a373);
	min-width: 100%;
  	min-height: 100%;
}
.gradient-area-dark{
	background-color: #9dc5c3;
	background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
	min-width: 100%;
  min-height: 100%;
}

.gradient-area-yellow{
	background-color: #f9ea8f;
	background-image: linear-gradient(315deg, #aff1da 0%, #f9ea8f 74%);
	min-width: 100%;
  min-height: 100%;
}

.gradient-area-blue{
	background-color: #ffcfdf;
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
	min-width: 100%;
  min-height: 100%;
}

.gradient-area-temp{
	background-color: #91d370;
	background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
	min-width: 100%;
  min-height: 100%;
}

.gradient-area-primary{
	background-color: #abe9cd;
	background-image: linear-gradient(315deg, #3eadcf  0%, #abe9cd 74%);
	min-width: 100%;
  min-height: 100%;
}