[[extend 'layout.html']]

<div id="vue-target" v-cloak>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-dark comic-sans" aria-haspopup="true" aria-controls="dropdown-menu"><img src="images/neko.png" />&nbsp; Stel Notes</button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <p class="dropdown-item menu-label">
                                Navigation
                            </p>
                            <ul class="dropdown-item menu-list">
                                <li>
                                    <a :href="getLink('home')"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                                </li>
                                <li>
                                    <a href="[[=URL('folders')]]"><i class="fa fa-folder" aria-hidden="true"></i> Folders</a>
                                </li>
                                <li>
                                    <a href="[[=URL('publicnotebooks')]]"><i class="fa fa-book" aria-hidden="true"></i> Public Notebooks</a>
                                </li>
                            </ul>
                            <hr class="dropdown-divider" />
                            <p class="dropdown-item menu-label">
                                User
                            </p>
                            <ul class="dropdown-item menu-list">
                                <!--<li v-if="user != null"><a href="[[=URL('auth/logout')]]"><i class="fa fa-user-circle" aria-hidden="true"></i> Account</a></li>-->
                                <li>
                                    <a href="[[=URL('account')]]"><i class="fa fa-user-circle" aria-hidden="true"></i> Account</a>
                                </li>
                                <li v-if="user != null">
                                    <a href="[[=URL('auth/logout')]]"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
                                </li>
                                <li v-if="user == null">
                                    <a href="[[=URL('auth/login')]]"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
                                </li>
                            </ul>
                            <hr class="dropdown-divider" />
                            <ul class="dropdown-item menu-list">
                                <li>
                                    <a href="[[=URL('features')]]"><i class="fa fa-question-circle" aria-hidden="true"></i> Need Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container" v-if="user != null">
                <div class="title">
                    <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
                    {{user.firstName}} {{user.lastName}}
                </div>
                <h2 class="subtitle">
                    {{user.email}}
                </h2>
            </div>
        </div>
    </section>
    <br />
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="[[=URL('index')]]">
                        <span class="icon is-small">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                        <span>Home</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="">
                        <span class="icon is-small">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                        </span>
                        <span>Folders</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <br />
    <br />
    <div class="container">
        <a href="[[=URL('folders/mynotebooks')]]">
            <section class="tile notification is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            <i class="fa fa-folder fa-2x" aria-hidden="true"></i>
                            My Notebooks
                        </h1>
                        <h2 class="subtitle" v-if="user != null">
                            {{user.notebooks.length}}
                            <span v-if="user.notebooks.length == 1">note</span>
                            <span v-if="user.notebooks.length != 1">notes</span>
                        </h2>
                    </div>
                </div>
            </section>
        </a>
        <br />
        <a href="[[=URL('folders/sharednotebooks')]]">
            <section class="tile notification is-warning">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            <i class="fa fa-folder fa-2x" aria-hidden="true"></i>
                            Shared Notebooks
                        </h1>
                        <h2 class="subtitle" v-if="user != null">
                            {{user.sharedNotebooks.length}}
                            <span v-if="user.sharedNotebooks.length == 1">note</span>
                            <span v-if="user.sharedNotebooks.length != 1">notes</span>
                        </h2>
                    </div>
                </div>
            </section>
        </a>
    </div>
</div>

[[block page_scripts]]
<script>
    let homePageSlash = "[[=URL('')]]";
    let user_status = "[[=XML(user_status)]]";
    let htmlPage = "[[=XML(htmlPage)]]";
</script>
<script src="js/html/simple.js"></script>
[[end]]